{% extends 'main.html' %}
{%load static%}

{%block 'head'%}
  <script src="{% static '/js/gastos_lista.js' %}"></script>
{%endblock%}

{% block 'body' %}
<body onload="loaded();"
 <!-- liveToast-->
 <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="fas fa-cat mr-1"></i>
            <strong class="me-auto">Metas</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="toast-message">Default message</span>
        </div>
    </div>
</div>
 <!-- Confirm Modal-->
<div class="modal" id="gastos_apaga_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <input type="text" id="ed_apaga_gasto" value="0">
          <h5 class="modal-title">Apagar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Apagar o gasto?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" onclick="gastos_apaga()" class="btn btn-primary">Sim</button>
        </div>
      </div>
    </div>
  </div>

<table class="table" id="tb_gastos_lista">
<thead>

  <th>Obs</th>
  <th>Valor</th>
  <th>Data</th>
  <th></th>

</thead>
<tbody>

{% for gasto in obj_gastos %}
<tr>
  <td>{{ gasto.obs }}</td>
  <td>R${{gasto.valor}}</td>
  <td>{{gasto.date_add}}</td>

  <td>
      <button type="button" class="btn btn-link" onclick="gastos_modal_apaga({{gasto.id}})" data-bs-toggle="modal" data-bs-target="#gastos_apaga_modal" style="border:0px">
        Apaga
      </button>
  </td>

</tr>
{% endfor %}

</tbody>
</table>

</body>

{%endblock%}
