{% extends 'main.html' %}
{% load static %}

{% block 'head' %}
    <script src="{% static '/js/gastos_form.js' %}"></script>
{% endblock %}

{% block 'body' %}
    <!-- liveToast-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fas fa-cat mr-1"></i>
                <strong class="me-auto">Metas</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <span id="toast-message">Default message</span>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row mb-5">
            <h3>Cadastro de Gastos: ({{arr_gastos.categoria}})</h3>
        </div>

        <form method="post" id="form_gastos" action="#">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 mb-3">
                    <input type="text" name="obs" id="gastos_obs" placeholder="observação" value="">
                    <input type="hidden" name="fk_categorias" id="gastos_fk_categorias" value="{{arr_gastos.id}}">
                    <input type="hidden" name="id" id="gastos_id" value="">
                </div>

                <div class="col-md-4 mb-3">
                    <input type="number" name="valor" value="" placeholder="Valor" step="any" min="-90000000">
                </div>

                <div class="col-md-4 mb-3">
                    <input class="btn btn-primary" onClick="save();" data-mdb-ripple-init type="button" value="Salvar">
                </div>
            </div>
        </form>
    </div>
    <br><br><br>
{% endblock %}
